/****************************
	GENERAL
*****************************/
.formName {
	color: #666666;
	font-size: 18px;
	font-family: "Segoe UI Semibold";
}

.formContent {
	border-top: 1px solid #e7e7e7;
	padding-top: 20px;
}

.table>tbody>tr>td {
	border-top: 0px !important;
	border-right: 1px solid #ddd;
}

.table>thead>tr>th {
	color: #777;
	font-weight: normal;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.table {
	border: 1px solid #ddd;
	background-color: #fff;
}

[type="checkbox"] {
	content: '';
	width: 15px;
	height: 15px;
	border: 1px solid #ddd;
	background: transparent;
	border-radius: 0px;
}

.hiddenError {
	display: none;
	font-family: "Segoe UI Semibold";
	size: 14pt;
	color: #D2492A;
}

.errorInput {
	border-color: #D2492A;
	!
	important;
}

.errorPanel {
	display: none;
	position: relative;
	background-color: #F2DEDF;
	padding: 10px 5px 10px 20px;
	border-radius: 3px;
}
#projectList .errorPanel{
	margin-bottom:10px;
}

.errorPanel .panelMessage {
	font-family: "Segoe UI Semibold";
	color: #D2492A;
	size: 14pt;
	display: inline;
}

.errorPanel .closePanel {
	position: absolute;
	right: 20px;
	color: #000;
	top: 15px;
	font-size: 10px;
}

/****************************
	MEMBERS DROPDOWN VISAS
*****************************/
.tagsDiv{
	background-color: #fff;
	border-radius: 5px;
	border: 1px solid #ddd;
}
.tagsDiv .tags {
	width: 100%;
	padding-left: 15px;
	margin-bottom: 0px;
	min-height: 30px;
	
}

.tagsDiv:hover {
	border: 1px solid #66AFE9;
}

.tagsDiv  .tags li.tag {
	margin-top: 5px;
	padding: 5px 5px 5px 5px;
	border-radius: 5px;
	background-color: #fff;
	border: 1px solid #ddd;
	margin-top: 5px;
}

.tagsDiv .tags li.tagInput {
	width: 100%;
}

.tagsDiv .tags li.tagInput input {
	width: 100%;
	border: 0px;
	height: 30px;
}

.tagsDiv .tags li.tagInput input:focus {
	outline: none;
}

.visaList {
	display: none;
	position: absolute;
	width:95%;
	z-index: 9999; background-color : #fff;
	margin-left: -5px;
	padding: 10px 5px 10px 10px;
	border: 1px solid rgba(81, 203, 238, 1);
	overflow-y: scroll;
	max-height: 100px;
	background-color: #fff
}

.visaLink {
	color: #000;
}
/****************************
	PROJECT LIST FORM
*****************************/
.col30px {
	max-width: 30px;
}

#filterInputs {
	margin-top: 20px;
}

#searchInputs .form-group:first-child, #searchInputs .form-group:last-child
	{
	margin-right: 10px;
}

#searchInputs .form-group {
	margin-right: 35px;
}

@media ( min-width :768px) {
	#searchInputs .form-group:first-child input {
		width: 300px !important;
	}
	#searchInputs select {
		width: 200px !important;
	}
}
#reset_btn{
	font-family: "Segoe UI Semibold";
	size: 14pt;
}


select option {
	color: black;
}

select.empty {
	color: grey;
}

#searchInputs select option[disabled]:first-child {
	display: none;
}

#searchDatas {
	margin-top: 30px;
}

#searchDatas>thead>tr {
	height: 32px;
}

#searchDatas td {
	font-family: "Segoe UI Semibold";
	color: #666666;
	size: 14pt;
}

#searchDatas .deleteIcon {
	color: red;
}

#projectList .pagination {
	height: 32px;
	float: right;
}

.resultRow {
	display: none;
	margin-top: -20px;
	padding: 10px 0px 10px 10px;
	border: 1px solid #ddd;
}

.resultRow  .totalItems {
	color: #2F85FA;
	size: 14pt;
	font-family: "Segoe UI Semibold";
	display: inline;
}
.delCol{
	max-width:78px;
}
.resultRow  .deleteMultiple {
	color: red;
	size: 12pt;
	font-family: "Segoe UI";
	display: inline;
	margin-right: 32px;
	float: right;
}
.pagination .selected {
	color: #000 !important;
	background-color: #ddd;
}
.headerSortDown{
	background: url(../images/asc.gif) no-repeat 99% !important;
}
.headerSortUp{
	background: url(../images/desc.gif) no-repeat 99% !important;
}
.sorter-true{
	background: url(../images/bg.gif) no-repeat 99%;
}

/****************************
	OTHER FORMS
*****************************/
.general-content {
	max-width: 780px;
}

.general-form {
	padding-left: 20px;
	max-width: 780px;
	padding-bottom: 38px;
	border-bottom: 1px solid #ddd;
}

.general-form .control-label {
	text-align: left !important;
	font-family: "Segoe UI Semibold";
	color: #666666;
	size: 14pt;
}

.general-form  .rightLabel {
	text-align: center !important;
}

.general-form .isRequired {
	color: red;
	margin-left: 5px;
}

.general-form .shortWidth {
	max-width: 200px;
}

.general-form .form-control {
	height: 30px;
}

.general-form .form-group {
	margin-top: 38px;
}

@media ( min-width :768px) {
	.general-form .expand {
		width: 200px !important;
		margin-left: -30px;
	}
}

.btnGroup {
	max-width: 780px;
	float: right;
}

.btnGroup .btn {
	margin-top: 30px;
	width: 150px;
	height: 35px;
}

.btnGroup .cancelBtn {
	margin-right: 60px;
}

.btnGroup .processBtn {
	background-color: #2F85FA;
}